<div class="container">
    <div class="card mb-3 login-card">
        <div class="card-body">
          <div class="clearfix height40"></div>
            <div class="row">
                <div class="col-lg-4 text-center">
                  <img src="assets/images/user.jpg" class="img-thumbnail">
                </div>
                <div class="col-lg-6">
                <h4>Edit Profile</h4>
                <hr>
                    <form>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <label for="exampleInputName">First name</label>
                              <input class="form-control" id="exampleInputName" type="text" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                              <label for="exampleInputLastName">Last name</label>
                              <input class="form-control" id="exampleInputLastName" type="text" placeholder="Enter last name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input class="form-control" id="exampleInputEmail1" type="email" placeholder="Enter email">
                        </div>
                        <div class="text-center">
                            <a class="btn btn-success" href="#">Update Profile</a>
                        </div>
                      </form>
                </div>
              </div>
        </div>
        
      </div>
</div>


