<div class="container">
    <div class="card mb-3 login-card">
        <div class="card-body">
          <div class="clearfix height40 hidden-xs"></div>
            <div class="row">
                <div class="col-lg-4 col-sm-5 text-center">
                  <img src="assets/images/user.jpg" class="img-thumbnail">
                </div>
                <div class="col-lg-8 col-sm-7">
                  <h3>Create a new account</h3>
                  <p>Lorem Ipsum has been the industry's unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                  <facebook-signin (status)="onfbSigninStatus($event)"></facebook-signin>
                </div>
              </div>
        </div>
        
      </div>
</div>