<div class="container-fluid">
  <!-- Breadcrumbs-->
  <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
  </ol> -->
  <div class="row main-content">
    <div class="col-lg-12">
        <div class="col-lg-12">
      <h1>Welcome to Diary</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div class="row">&nbsp;</div>
      <div class="card-columns row">
          <!-- Example Social Card-->
          <div class="col-lg-4 col-sm-6">
          <div class="card">
            <a href="#">
              <img class="card-img-top img-fluid w-100" src="assets/images/1.jpeg" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
              <p class="card-text small">These waves are looking pretty good today!
                <a href="#">#surfsup</a>
              </p>
            </div>
            <div class="card-footer small text-muted">Posted 32 mins ago</div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
              <a href="#">
                <img class="card-img-top img-fluid w-100" src="assets/images/2.jpeg" alt="">
              </a>
              <div class="card-body">
                <h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
                <p class="card-text small">These waves are looking pretty good today!
                  <a href="#">#surfsup</a>
                </p>
              </div>
              <div class="card-footer small text-muted">Posted 32 mins ago</div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                <a href="#">
                  <img class="card-img-top img-fluid w-100" src="assets/images/3.jpeg" alt="">
                </a>
                <div class="card-body">
                  <h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
                  <p class="card-text small">These waves are looking pretty good today!
                    <a href="#">#surfsup</a>
                  </p>
                </div>
                <div class="card-footer small text-muted">Posted 32 mins ago</div>
              </div>
            </div>
            <!--Colums end-->
        </div>
    </div>
  </div>  
  </div>
</div>
<!-- /.container-fluid-->