#customBtn {
  display: inline-block;
  background: #3b5998;
  color: #fff;
  width: 200px;
  height: 46px;
  border-radius: 3px;
  border: 1px solid #3266d5;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.icon {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  margin-top: 2px;
  margin-left: 2px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}
